//$theme-color:green;

@import "colors";
@import "mixins";


@function double($a) {
    @return ($a*2);
}

$bg-color: #AD141E;



body {
    //background-color: rgb($bg-color,.9);
    $a:5;
    $b:10;
    @if $a == 5 and $b == 10 {
        background-color: red;
    }
    @else{
        background-color: green;
    }
}

h1 {
    color: $theme-color;
}

p {
    color: $theme-color;
}

$map_name:(
    a:red,
    b:blue,
);

$map-one: (
    color1: red,
    color2:blue
);

$map-two: (
    color3: green,
    color4:yellow,
);

$merged-map:map-merge($map-one,$map-two);
$name:"Jhon is a programmer";

h2{
    //color:map-get($map_name,b);
    // @if map-has-key($map_name,c){
    //     content: 'map has the key a';
    // }
    // @else{
    //     content: 'map does not have the key';
    // }
    color:map-get($merged-map,color4);
    //content:str-insert($name,"T",5);
    //content:str-index($name,"programmer");
    //content:to-upper-case($name);
    content:to-lower-case($name);
}





// .content{
//     ul{
//         li{
//             a{
//                 color:pink;
//             }
//         }
//     }
// }

button {
    background-color: purple;
    @include blockButton(green);
}

.newButton {
    @include blockButton(yellow);
    background-color: green;

}


.common{
    background-color: red;
    height: 100px;
    width: (100%/2);
}

.container {
    width: 100%;

    .leftCol {
        float: left;
        @extend .common;
    }

    .rightCol {
        float: left;
        @extend .common;
    
    }
}


$menu:(home,contact,about,blog);

@each $item in $menu{
    .#{$item}{
        background:url('../img/#{$item}/.png')
    }
}